VolunteerApp/.idea/codeStyleSettings.xml
VolunteerApp/.idea/misc.xml
VolunteerApp/.idea/codeStyles/Project.xml
VolunteerApp/.idea/caches/build_file_checksums.ser
VolunteerApp/.idea/gradle.xml
VolunteerApp/.idea/statistic.xml
VolunteerApp/app/build.gradle.rej
VolunteerApp/.idea/assetWizardSettings.xml